* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    line-height: 1.6;
}

/* Navbar */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 60px;
    background: #111;
    color: white;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin-left: 25px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

nav ul li a:hover {
    color: #00bcd4;
}

/* Hero */
.hero {
    height: 90vh;
    background: linear-gradient(to right, #111, #333);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero h1 {
    font-size: 50px;
}

.hero p {
    margin: 15px 0;
    font-size: 20px;
}

.btn {
    padding: 10px 25px;
    background: #00bcd4;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

/* Sections */
section {
    padding: 70px 20px;
    text-align: center;
}

.skills, .projects {
    background: #f4f4f4;
}

.skill-box {
    display: inline-block;
    background: #00bcd4;
    color: white;
    padding: 10px 20px;
    margin: 10px;
    border-radius: 20px;
}

.project-card {
    background: white;
    width: 300px;
    margin: 20px auto;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.1);
}

/* Contact */
.contact p {
    margin: 8px 0;
}

/* Footer */
footer {
    background: #111;
    color: white;
    text-align: center;
    padding: 15px;
}

/* Responsive */
@media (max-width: 768px) {

    nav {
        flex-direction: column;
    }

    nav ul {
        flex-direction: column;
        margin-top: 10px;
    }

    nav ul li {
        margin: 10px 0;
    }

    .hero h1 {
        font-size: 35px;
    }

    .project-card {
        width: 90%;
    }
}
